h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
 
}

ul {
    list-style-type: none;
}

li{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(44, 108, 192);
    border-radius: 10px;
    color: rgb(73, 73, 105);
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlayout{
    display: flex;
    flex-wrap: wrap;
}

.a1 {
    flex-grow: 9;
    padding: 100px;
}

.a2 {
    flex-grow: 6;
    padding: 90px;
}

.a3 {
    flex-grow: 3;
    padding: 50px;
}

.a4 {
    flex-grow: 0;
    padding: 50px;
}

.a5 {
    flex-grow: 1;
    padding: 30px;
}