*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
 
}

.flex-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.item {
    width:250px;
    height: 150px;
    background-color: rgb(165, 162, 162);
    color: rgb(73, 73, 105);
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 1px 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(44, 108, 192);
    border-radius: 10px;
}

li{
    color: rgb(23, 43, 61);
    font-weight: bold;
    margin: 30px;
    flex: 1;
}

.navigation {
    display: flex;
    margin: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
}